body{
background: url(../images/beer5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
  }

/*.main
{
background-image: url(../images/beer5.jpg);
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
}*/


  
#supplyTo,#pending1,#pending2,#orderTo
{
display:none;
}  





h1{
color:black;
}

h2{
color:black;
background-color:beige;
 box-shadow:1px 1px 30px 1px yellow inset;
 border: 1px solid black;
 }

h3{
color:black;}
 

.details p{
color:black;
font-size:120%;
}

#Round{
position:absolute;
left:20px;
color:white;
font-size:120%;
top:-3%;
}

#Icost,#Bcost,#bankres,#ul,#ce{
color:black;
font-size:150%;
position:absolute;
font-weight: bold;
}


.box {
	width:30%;
	height:85%;
	background:#090F0F;
	margin:1% auto;
	border: 2px solid black;
	box-shadow:1px 1px 70px 1px grey inset;
	background-color: rgba(9,15,15,0.9);
	position:absolute;
	left:35%;
}

.box3
{
        height:80%;
	background:white;
	border: 3px solid black;
        border-radius: 5px;
 	top:15%;
	position:absolute;
        width:25%;
        left:70%;

}

.box3
{
    color:black;
font-size:105%;
}

.cost{
	width:25%;
	height:40%;
	top:30%;
	position:absolute;
	left:5%;

	
}



.innerBox2{
	height:90%;
	background:white;
	margin:40px auto;
	border: 3px solid black;
    border-radius: 5px;
	top:-3%;
	position:absolute;
	}

.innerBox1{
	height:90%;
	background:white;
	border: 3px solid black;
    border-radius: 5px;
	top:5%;
	position:absolute;
	}


	.innerBox2{
	left:10%;
	width:80%;
	text-align:center;
	}
	
	.innerBox2 p{
	color:black;
	border-bottom-style: dotted;
	}

	.innerBox1{
	left:10%;
	width:80%;
	text-align:center;
	}
	
	.innerBox1 p{
	color:black;
	}
	
	
	.field{
	width:50px;
	}

.login{
	height:90%;
	background:white;
	margin:40px auto;
	border: 3px solid black;
        border-radius: 5px;
	top:-3%;
	position:absolute;
        left:10%;
	width:80%;
	
	}
	
	
	.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
  color:black;
}
