body{
background: url(images/beer5.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
  }
  
  
h1{
color:black;
background-color:rgba(240,230,140,0.4);
 box-shadow:1px 1px 30px 1px yellow inset;
}

h2{
color:black;
background-color:beige;
 box-shadow:1px 1px 30px 1px yellow inset;
 border: 1px solid black;
 }

h3{
color:black;}
 

.details p{
color:black;
font-size:120%;
}

#Round{
position:absolute;
left:20px;
color:white;
font-size:120%;
top:-3%;
}

#Icost,#Bcost{
color:black;
font-size:150%;
position:absolute;
font-weight: bold;
}

#Bcost{
right:10px;
}

#Icost{
left:10px;
}


.box {
	width:70%;
	height:75%;
	background:#090F0F;
	margin:40px auto;
	border: 2px solid black;
    border-radius: 25px;
	box-shadow:1px 1px 70px 1px grey inset;
	background-color: rgba(9,15,15,0.9);
	position:absolute;
	left:15%;
}

.innerBox1,.innerBox2,.innerBox3{
	height:90%;
	background:white;
	margin:40px auto;
	border: 3px solid black;
    border-radius: 5px;
	top:-3%;
	position:absolute;
	}

	.innerBox1{
	left:3%;
	width:25%;
	}
	
	
	.innerBox2{
	left:30%;
	width:40%;
	text-align:center;
	}
	
	.innerBox2 p{
	color:black;
	border-bottom-style: dotted;
	}
	
	.innerBox3{
	right:3%;
	width:25%;
	}
	
	.field{
	width:50px;
	}

.login{
	height:90%;
	background:white;
	margin:40px auto;
	border: 3px solid black;
        border-radius: 5px;
	top:-3%;
	position:absolute;
        left:10%;
	width:80%;
	
	}
	
